@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: none;
    width: 100vw;
    height: 56.25vw;
    user-select: none;
    overflow: hidden;
    background-color: #150026;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 56.25vw;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.maintwo {
    display: none;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 56.25vw;
    background-image: url("images/backgroundtwo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    backdrop-filter: blur(.1563vw);
    background-color: #150026D9;
    z-index: 2;
}

.congText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: 3.4375vw;
    top: 14.0625vw;
}

.congText h1 {
    font-family: "Anton";
    font-size: 3.9948vw;
    font-weight: 400;
    line-height: 6.0141vw;
    text-align: center;
    background: linear-gradient(180deg, #C440FA 0%, #AB1CFA 48.5%, #9916DB 73%, #8309C6 90.5%, #7C0DB8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0vw 0vw 1.7738vw rgba(186, 35, 239, 0.21);
    leading-trim: both;
    text-edge: cap;
    text-align: center;
}

.youWon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
    top: 18.8021vw;
}

.youWon h1 {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0833vw;
    background: radial-gradient(43.04% 43.04% at 50% 50%, #F0F0F0 0%, #8E8E8E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0vw 0vw 1.7738vw rgba(34, 221, 236, 0.21);
    transition-duration: 0.25s;
}

.winnedItemImage {
    width: 15.625vw;
    height: auto;
    background-image: url("images/ak47.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.winnedItemText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
    top: 34.8438vw;
}

.winnedItemText h1 {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0833vw;
    background: radial-gradient(43.04% 43.04% at 50% 50%, #F0F0F0 0%, #8E8E8E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0vw 0vw 1.7738vw rgba(34, 221, 236, 0.21);
    transition-duration: 0.25s;
}

.claimButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 10.3646vw;
    height: 3.2292vw;
    top: 38.9583vw;
    background: linear-gradient(180deg, #C440FA 0%, #AB1CFA 48.5%, #9916DB 73%, #8309C6 90.5%, #7C0DB8 100%);
    border-radius: .2604vw;
    transition-duration: 0.25s;
    cursor: pointer;
}

.claimButton h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.0417vw;
    leading-trim: both;
    text-edge: cap;
    color: #1C0019;
    transition-duration: 0.25s;
}

.claimHover:hover {
    background: linear-gradient(180deg, #C440FA 0%, #D35BFF 24%, #BD46FF 48.5%, #A71FEB 73%, #8309C6 90.5%, #9816DE 100%);
    transition-duration: 0.25s;
}

.clickedHover {
    background: linear-gradient(180deg, rgba(196, 64, 250, 0.6) 0%, rgba(171, 28, 250, 0.6) 48.5%, rgba(153, 22, 219, 0.6) 73%, rgba(131, 9, 198, 0.6) 90.5%, rgba(124, 13, 184, 0.6) 100%);
    transition-duration: 0.25s;
}

.clickedHover h1 {
    opacity: 0.7;
    transition-duration: 0.25s;
}

.spinTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: 3.4375vw;
    top: 3.8021vw;
}

.spinTitle h1 {
    font-family: "Anton";
    font-size: 3.9948vw;
    font-weight: 400;
    line-height: 6.0141vw;
    text-align: center;
    background: linear-gradient(180deg, #C440FA 0%, #AB1CFA 48.5%, #9916DB 73%, #8309C6 90.5%, #7C0DB8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0vw 0vw 1.7738vw rgba(186, 35, 239, 0.21);
    leading-trim: both;
    text-edge: cap;
    text-align: center;
}

.exitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 2.1354vw;
    height: 2.1354vw;
    left: 94.3229vw;
    top: 3.2292vw;
    background: linear-gradient(180deg, #FA4040 0%, #FA1C1C 48.5%, #DB1616 73%, #C60909 90.5%, #B80D0D 100%);
    border: .0521vw solid #801111;
    border-radius: .2604vw;
    cursor: pointer;
    transition-duration: 0.25s;
}

.exitButton:hover {
    background: linear-gradient(180deg, #FF7474 0%, #FF4242 48.5%, #F73737 73%, #E72222 90.5%, #E22A2A 100%);
    border: .0521vw solid #801111;
    border-radius: .2604vw;
    transition-duration: 0.25s;
}

.exitButton i {
    width: 1.3021vw;
    height: 1.3021vw;
    font-size: 1.3542vw;
    color: white;
    transition-duration: 0.25s;
}

.spinDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 36.4583vw;
    height: 3.6458vw;
    top: 9.5833vw;
}

.spinDesc h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1985vw;
    line-height: 1.8229vw;
    text-align: center;
    background: radial-gradient(43.04% 43.04% at 50% 50%, #F0F0F0 0%, #8E8E8E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0vw 0vw 1.7738vw rgba(34, 221, 236, 0.21);
}

.spinDesc h1 span {
    background: #A41FC2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.enterCodeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 23.4896vw;
    height: 4.8438vw;
    top: 14.8438vw;
}

.useButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0vw;
    top: 0vw;
    width: 6.8229vw;
    height: 3.2292vw;
    background: linear-gradient(180deg, #C440FA 0%, #AB1CFA 48.5%, #9916DB 73%, #8309C6 90.5%, #7C0DB8 100%);
    border-radius: .2604vw;
    cursor: pointer;
    transition-duration: 0.25s;
}

.useButton h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.0417vw;
    leading-trim: both;
    text-edge: cap;
    color: #1C0019;
    transition-duration: 0.25s;
}

.hover:hover {
    background: linear-gradient(180deg, #C440FA 0%, #D35BFF 24%, #BD46FF 48.5%, #A71FEB 73%, #8309C6 90.5%, #9816DE 100%);
    transition-duration: 0.25s;
}

.clickedUse {
    background: linear-gradient(180deg, rgba(196, 64, 250, 0.6) 0%, rgba(171, 28, 250, 0.6) 48.5%, rgba(153, 22, 219, 0.6) 73%, rgba(131, 9, 198, 0.6) 90.5%, rgba(124, 13, 184, 0.6) 100%);
    transition-duration: 0.25s;
}

.clickedUse h1 {
    opacity: 0.7;
    transition-duration: 0.25s;
}

.enterYourCode {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5208vw;
    top: 0vw;
    left: 0vw;
    width: 16.1458vw;
    height: 3.2292vw;
    background: rgba(27, 24, 37, 0.5);
    border-radius: .2604vw;
}

#enterYourCode::placeholder {
    color: #995BAE80;
}

#enterYourCode {
    display: flex;
    position: absolute;
    top: .8594vw;
    width: auto;
    font-family: "Plus Jakarta Sans";
    font-size: 1.0417vw;
    font-weight: 800;
    text-align: center;
    color: rgba(153, 91, 174, 0.75);
    background-color: rgba(0, 0, 0, 0);
    border: 0vw solid rgba(0, 0, 0, 0);
    outline: none;
}

#enterYourCode {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#enterYourCode::-webkit-inner-spin-button,
#enterYourCode::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="text"], input[type="password"], textarea {
    background-color: transparent; /* Arka plan rengini saydam yapın */
    color: #000; /* Metin rengini belirleyin */
}

.clickToBuy {
    display: flex;
    position: absolute;
    bottom: 0vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15.1042vw;
    height: .9896vw;
    transition-duration: 0.25s;
}

.clickToBuy h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 0.7813vw;
    background: radial-gradient(43.04% 43.04% at 50% 50%, #F0F0F0 0%, #8E8E8E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0vw 0vw 1.7738vw rgba(34, 221, 236, 0.21);
    transition-duration: 0.25s;
}

.clickToBuy h1 span {
    background: #A41FC2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
    display: inline-block;
    border-bottom: .0521vw solid transparent;
    transition-duration: 0.25s;
}

.clickToBuy h1 span:hover {
    border-bottom: .0521vw solid #A41FC2;
    transition-duration: 0.25s;
}

.youHaveXSpin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 21.0417vw;
    transition-duration: 0.25s;
}

.youHaveXSpin h1 {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7188vw;
    line-height: 2.6042vw;
    text-align: center;
    background: radial-gradient(43.04% 43.04% at 50% 50%, #EDEDED 0%, #7D7D7D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0vw 0vw 1.7738vw rgba(34, 221, 236, 0.21);
    transition-duration: 0.25s;
}

.youHaveXSpin h1 span {
    background: radial-gradient(43.04% 43.04% at 50% 50%, #BA23EF 0%, #5D1A7C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition-duration: 0.25s;
}

.powerBar {
    display: flex;
    position: absolute;
    width: 13.849vw;
    height: 29.6161vw;
    left: 19vw;
    top: 26.2vw;
    transform: rotate(25deg);
    filter: drop-shadow(0vw 0vw 2.0833vw #9D28E5);
    background-image: url("images/green.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.25s;
}

.dayBar {
    display: flex;
    position: absolute;
    width: 13.849vw;
    height: 29.6161vw;
    right: 19vw;
    top: 26.2vw;
    transform: rotate(-25deg);
    filter: drop-shadow(0vw 0vw 2.0833vw #9D28E5);
    background-image: url("images/day_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.25s;
}

.wheelContain {
    position: absolute;
    width: 41.7188vw;
    height: 28.9583vw;
    top: 27.2917vw;
    filter: drop-shadow(0vw 0vw 2.0833vw #9D28E5);
    background-image: url("images/wheel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer {
    position: absolute;
    width: 5.4167vw;
    height: 6.9792vw;
    top: 25.9375vw;
    background-image: url("images/pointer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.spinContain {
    display: flex;
    position: absolute;
    width: 13.0339vw;
    height: 13.0339vw;
    top: 41.6667vw;
    background-image: url("images/defaultspin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
    transition-duration: 0.25s;
}

.spinHover:hover {
    background-image: url("images/hoverspin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    transition-duration: 0.25s;
}

.clickedSpin {
    background-image: url("images/clickedhover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    transition-duration: 0.25s;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 35.2604vw;
    height: 35.2604vw;
    top: 30.5208vw;
    transition: transform 4s ease-in-out;
}

.itemtype1 {
    position: absolute;
    top: 0vw;
    width: 13.5417vw;
    height: 17.6563vw;
    background-image: url("images/itembgtype1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.itemtype2 {
    position: absolute;
    top: 0vw;
    width: 13.5417vw;
    height: 17.6563vw;
    background-image: url("images/itembgtype2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item_1 {
    transform-origin: bottom center;
    transform: rotate(0.5deg);
}

.item_2 {
    transform-origin: bottom center;
    transform: rotate(45.5deg);
}

.item_3 {
    transform-origin: bottom center;
    transform: rotate(90.5deg);
}

.item_4 {
    transform-origin: bottom center;
    transform: rotate(135.5deg);
}

.item_5 {
    transform-origin: bottom center;
    transform: rotate(180.5deg);
}

.item_6 {
    transform-origin: bottom center;
    transform: rotate(225.5deg);
}

.item_7 {
    transform-origin: bottom center;
    transform: rotate(270.5deg);
}

.item_8 {
    transform-origin: bottom center;
    transform: rotate(315.5deg);
}

.globalitem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.globalitem h1 {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0417vw;
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    color: rgba(102, 3, 151, 0.4);
}

.globalitem img {
    display: flex;
    position: absolute;
    top: 1.3021vw;
    width: 8.8542vw;
    height: 5.9896vw;
    object-fit: contain;
}