.container {
  width: 100%;
  height: calc(100% - 10vh);
  display: flex;
}

.game {
  width: 72%;
  height: 100%;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.diceContainer {
  width: 92%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.diceWrapper {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.diceBackground {
  --colorLowPercentage: 50%;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1.5vh;
  height: 1vh;
  border-radius: 2vh;
  position: relative;

  .diceBackgroundLow {
    height: 100%;
    width: var(--colorLowPercentage);
    background-color: #e9113c;
    border: 0.1vh solid #e6395b;
    opacity: 0.7;
    z-index: 100;
    position: relative;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
  }

  .diceBackgroundHigh {
    height: 100%;
    width: calc(100% - var(--colorLowPercentage));
    background-color: #00e701;
    border: 0.1vh solid #5feb5f;
    opacity: 0.7;
    position: relative;
    z-index: 100;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
  }

  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    z-index: 0;
    padding: 1.8vh 1.3vh;
    left: -1vh;
    background-color: #1c1d36a2;
    backdrop-filter: blur(1vh);
    border: 0.1vh solid #282942e5;
    border-radius: 1vh;
    z-index: 100;
  }
}

.diceSlider {
  position: absolute;
  background: transparent;
  padding: 0;
  margin: 0;
  color: unset;
  backdrop-filter: none;
  border: none;
  appearance: none;
  height: 100%;
  z-index: 100;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 3.5vh;
    width: 3.5vh;
    position: relative;
    z-index: 100;
    background: #15162a;
    border: 0.1vh solid rgb(160, 160, 160, 0.2);
    border-radius: 0.5vh;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &::-webkit-slider-runnable-track {
    appearance: none;
  }
}

.dicePercentages {
  position: absolute;
  width: 100%;
  height: 3vh;
  top: -4.5vh;
  display: flex;

  .percentage {
    position: absolute;
    font-size: 2vh;
    z-index: 10;
    height: 3vh;
    width: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 2vh rgb(228, 228, 228);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2.6vh;
      width: 100%;
      height: 100%;
      transform: scale(0.5) rotate(45deg);
      background: #15162aa6;
      backdrop-filter: blur(50vh);
      border: 0.1vh solid rgba(160, 160, 160, 0.37);
    }
  }
}

.gameStats {
  width: 95%;
  height: 9vh;
  bottom: 1.8vh;
  position: absolute;
  border-radius: 1vh;
  background-color: #1c1d36a2;
  backdrop-filter: blur(1vh);
  border: 0.1vh solid #282942e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameStat {
  width: 32%;
  margin: 0 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    width: 100%;
    font-size: 1.2vh;
    font-weight: bold;
    color: #bbbbbc;
    text-transform: uppercase;
    margin-left: 0.5vh;
  }

  input {
    margin-top: 0.6vh;
    margin-bottom: 0;
    cursor: default;
  }
}

@keyframes DiceInitial {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }

  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes DiceFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

.diceResultFade {
  animation: DiceFade 500ms forwards !important;
}

.diceResult {
  --diceTarget: 50%;
  left: var(--diceTarget);
  position: absolute;
  margin-left: -3%;
  top: -7.2vh;
  z-index: 120;
  width: 5vh;
  height: 5vh;
  font-size: 1.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 450ms ease;
  animation: DiceInitial 500ms forwards;
  font-family: "AnisetteMedium";

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 232, 232, 0.589);
    filter: blur(3.5vh);
    z-index: -1;
  }

  .diceResultIcon {
    height: 8.5vh;
    width: 8.5vh;
    color: #e9e7e7;
  }

  > p {
    position: absolute;
    color: rgb(68, 218, 68);
    z-index: 100;
    font-weight: bold;
    top: 2vh;
    text-shadow: 0 0 1vh rgb(0, 0, 0);
  }
}
