@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "AnisetteMedium";
  src: url("/fonts/AnisetteMedium.otf");
}

@font-face {
  font-family: "roc-grotesk";
  src: url("/fonts/rocgrotesk-regular.otf"), url("/fonts/rocgrotesk-bold.otf"),
    url("/fonts/rocgrotesk-light.otf"), url("/fonts/rocgrotesk-mediumotf"),
    url("/fonts/rocgrotesk-thin.otf"), url("/fonts/rocgrotesk-extralight.otf");
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ScaleFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #0f101f;
  --walletBalanceText: #f3f3f3;
  --inputBackground: #0d0d0e54;
  --inputBackground-2: #0d0d0e8a;
  --inputText: #bdbdbd;
  --inputBorderColor: #2e2e36bb;
}

::-webkit-scrollbar {
  width: 0.1vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #646464;
  border-radius: 2px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.container {
  width: 140vh;
  height: 80vh;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: FadeIn 300ms forwards;
}

.container::after {
  position: absolute;
  content: "";
  width: 139.5vh;
  height: 79.5vh;
  border: 2vh solid black;
  border-radius: 1.2vh;
  z-index: -10;
}

.wrapper {
  height: 100%;
  width: 100%;
  background: var(--background);
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.lightEffect {
  transition: all 450ms ease;
  --effectColor: #b1181899;
  position: absolute;
  background: radial-gradient(
    circle at center,
    var(--effectColor),
    transparent
  );
  filter: blur(8vh);
  height: 40vh;
  width: 40vh;
  animation: ScaleFadeIn 0.7s forwards;
}

input {
  border: 0.1vh solid var(--inputBorderColor);
  background: var(--inputBackground);
  color: var(--inputText);
  backdrop-filter: blur(1vh);
  border-radius: 0.5vh;
  margin: 1vh 0;
  padding: 0.5vh;
  padding-left: 1vh;
  outline: none;
  height: 4vh;
  font-size: 1.4vh;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
