.container {
  width: 100%;
  height: calc(100% - 10vh);
  display: flex;
}

.betContainer {
  height: 95% !important;
  width: 25% !important;
  margin: auto 3vh !important;
  margin-top: 0.5vh !important;
}

.game {
  width: 72%;
  height: 100%;
  position: relative;
}

.gameWrapper {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  object-fit: contain;
  position: relative;
}

.row {
  margin: 1vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plinkoBarrier {
  width: 1.5vh;
  height: 1.5vh;
  margin: 1.5vh 2.5vh;
  background: rgba(177, 176, 176, 0.76);
  border-radius: 50%;
  z-index: 100;
  position: relative;
}

.multipliers {
  height: 6%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.multiplier {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5vh;
  width: 100%;
  font-size: 1.4vh;
  font-weight: bold;
  color: rgb(219, 218, 218);
  padding: 0.2vh 0.5vh;
  border-radius: 0.2vh;
  margin: 1vh 0.5vh;
  background-color: #9090914d;
  border: 0.1vh solid #90909150;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

@keyframes MultiplierEffect {
  0% {
    transform: skew(-25deg) translateX(-230%);
  }

  100% {
    transform: skew(-25deg) translateX(240%);
  }
}

.multiplierEffect {
  position: absolute;
  width: 30%;
  height: 120%;
  transform: skew(-25deg);
  background: white;
  animation: MultiplierEffect 0.4s forwards;
}

.plinkoBalls {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.plinkoBall {
  width: 1.2vh;
  height: 1.2vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: fixed;
  top: 14vh;
  z-index: 1;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  &:before {
    content: "";
    position: absolute;
    height: 1.5vh;
    width: 1.5vh;
    background-color: rgba(255, 255, 255, 0.9);
    filter: blur(2vh);
    z-index: -1;
  }
}

.plinkoBall[heading="left"] {
  animation-name: bounceLeft;
}

.plinkoBall[heading="right"] {
  animation-name: bounceRight;
}

@keyframes bounceLeft {
  0% {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(-100%, -250%);
  }

  100% {
    transform: translate(-50%, 0%);
  }
}

@keyframes bounceRight {
  0% {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(0%, -250%);
  }

  100% {
    transform: translate(-50%, 0%);
  }
}
